# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\simon\OneDrive\Dokumenter\NTNU\Dataingeniør 2020-2021\2. Semester\IDATT2104 Nettverksprogrammering\Oblig6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
